{% extends "base.html" %}
{% block title %}Imtihon qo'shish || QuizTest {% endblock title %}

{% block content %}

<div class="container mt-3 pb-3">
    <div class="d-flex justufy-content-center">

        <div class="card mx-auto shadow-sm rounded-5">
            <div class="card-header mb-0">
                <h4 class="card-title">QuizeApp platformasi</h4>
                <hr class="mb-2 mt-0" size="3">
                <h6 class="card-subtitle text-muted">Profilni tahrirlash</h6>
            </div>
            <div class="card-body">
                <form action="" method="post">{% csrf_token %}
                    <p class="alert alert-success">{{text}}</p>
                    <div class="row g-3">
                        <div class="form-floating mb-3">
                            <input type="text" name="exam_name" class="form-control" id="firstName"
                                placeholder="Imtihon nomi...">
                            <label for="firstName" class="ms-2">Imtihon nomi...</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="science_name" class="form-control" id="lastName"
                                placeholder="Fan nomi...">
                            <label for="lastName" class="ms-2">Fan nomi...</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" name="time_limit" min="0" class="form-control" id="lastName"
                                placeholder="Har bir test uchun ajratilgan vat...">
                            <label for="lastName" class="ms-2">Har bir test uchun ajratilgan vat
                                (min)...</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" name="questions_count" min="0" class="form-control" id="lastName"
                                placeholder="O'quvchiga chiquvchi testlar soni...">
                            <label for="lastName" class="ms-2">O'quvchiga chiquvchi testlar soni
                                (ta)...</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3 d-flex justufy-content-center">
                        <button class="btn btn-primary w-50 mx-auto" type="submit">
                            Jo'natish
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock content %}