<h1>Exams detail <br> {{ choose_exam }} </h1>
<div align="right " id="displaytimer"><b>Timer: 0 seconds</b></div>
<form action="" method="post">{% csrf_token %}

    <ul>
        {% for choose_exam_quiz in choose_exam_quizes %}
        <li>
            {{ choose_exam_quiz.question }}</br>
            <input type="radio" id="answer_a" name="{{choose_exam_quiz.question}}" value="answer_a">
            <label for="answer_a">{{ choose_exam_quiz.answer_a }}</label><br>

            <input type="radio" id="answer_b" name="{{choose_exam_quiz.question}}" value="answer_b">
            <label for="answer_b">{{ choose_exam_quiz.answer_b }}</label><br>

            <input type="radio" id="answer_c" name="{{choose_exam_quiz.question}}" value="answer_c">
            <label for="answer_c">{{ choose_exam_quiz.answer_c }}</label><br>

            <input id='timer' type='hidden' name="timer" value="">
            <hr>
        </li>
        {% endfor %}
    </ul>
    <button type="submit">Topshirish</button>
</form>

<script>

    console.log('hello world')
    const timer = document.getElementById('displaytimer')
    console.log(timer.textContent)
    const inputtag = document.getElementById('timer')

    t = 0
    setInterval(() => {
        t += 1
        timer.innerHTML = "<b>Timer: " + t + " seconds</b>"
        inputtag.value = t
    }, 1000)
</script>

<!-- 
    
    <input type="radio" id="html" name="fav_language" value="HTML">
    <label for="html">HTML</label><br>
    <input type="radio" id="css" name="fav_language" value="CSS">
    <label for="css">CSS</label><br>
    <input type="radio" id="javascript" name="fav_language" value="JavaScript">
    <label for="javascript">JavaScript</label> -->