{% extends "base.html" %}
{% block title %}Imtihonlar || QuizTest {% endblock title %}

{% block content %}

<div class="container mt-3">
  <h3 class="text-center my-3">Imtihonlar</h3>
  <div class="row g-4">
    {% for exam in exams %}
    <div class="col-lg-4">
      <div class="card shadow">
        <div class="card-header bg-white mb-0 ps-4 mt-3">
          <h4 class="card-title">{{ exam.name }}</h4>
          <hr class="mb-2 mt-0" size="1">
          <h6 class="card-subtitle text-muted h5">{{ exam.science_name }}</h6>
          <small class="text-muted">
            Test
          </small>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item px-1">
              <div class="d-flex justify-content-between">
                <h5>Tuzuvchi:</h5>
                <div class="lead">{{ exam.author }}</div>
              </div>
            </li>
            <li class="list-group-item px-1">
              <div class="d-flex justify-content-between">
                <h5>Savollar soni:</h5>
                <div class="lead">{{ exam.questions_count }} ta</div>
                </h5>
            </li>
            <li class="list-group-item px-1">
              <div class="d-flex justify-content-between">
                <h5>Vaqt:</h5>
                <div class="lead">{{ exam.get_all_time }} (daqiqa)</div>
              </div>
            </li>
          </ul>

          <div class="d-grid gap-2 mt-3 mb-3">
            <a href="{% url 'exams_items' pk=exam.id %}" class="btn  w-100 btn-primary " role="button"><i
                class="bi bi-arrow-right"></i> Boshlash</a>

          </div>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Button trigger modal -->
{% endblock content %}